apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: nginx-logging
  annotations:
    argocd.argoproj.io/sync-wave: "1"
  namespace: argocd
spec:
  project: default
  syncPolicy:
    automated:
      enabled: true
  source:
    chart: nginx
    repoURL: https://charts.bitnami.com/bitnami
    targetRevision: 22.3.2
    helm:
      releaseName: nginx-log-test
      values: |
        replicaCount: 3
        extraVolumes:
          - name: nginx-logs
            persistentVolumeClaim:
              claimName: kind-pvc
        extraVolumeMounts:
          - name: nginx-logs
            mountPath: /app/logs/nginx
        serverBlock: |
          server{
            listen 8080;
            server_name _;
            location / {
              return 200 'Hello from nginx';
            }
            location /healthz {
              # access_log off;
              return 200 'OK';
            }
            location /test {
              # access_log off;
              return 404 'Not Found';
            }
            error_log /app/logs/nginx/error.log;
            access_log /app/logs/nginx/access.log main buffer=32k flush=5s;
           
          }
        service:
          type: ClusterIP
        extraEnvVars:
          - name: LOG_LEVEL
            value: debug
        readinessProbe:
          enabled: true
          path: /healthz
          initialDelaySeconds: 5
          periodSeconds: 5
        livenessProbe:
          enabled: false
        customLivenessProbe:
          httpGet:
            path: /healthz 
            port: 8080

  destination:
    server: "https://kubernetes.default.svc"
    namespace: nginx
