apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: nginx-logging
  annotations:
    argocd.argoproj.io/sync-wave: "1"
  namespace: argocd
spec:
  project: default
  syncPolicy:
    automated:
      enabled: true
  source:
    chart: nginx
    repoURL: https://charts.bitnami.com/bitnami
    targetRevision: 22.3.2
    helm:
      releaseName: nginx-log-test
      valueFiles:
      - values.yaml
  destination:
    server: "https://kubernetes.default.svc"
    namespace: nginx
