apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: nginx-logging
  annotations:
    argocd.argoproj.io/sync-wave: "1"
  namespace: argocd
spec:
  project: default
  syncPolicy:
    automated:
      enabled: true
  source:
    chart: nginx
    repoURL: https://charts.bitnami.com/bitnami
    targetRevision: 22.3.2
    helm:
      releaseName: nginx-log-test
      values: |
        replicaCount: 3
        extraVolumes:
          - name: nginx-logs
            persistentVolumeClaim:
              claimName: kind-pvc
        extraVolumeMounts:
          - name: nginx-logs
            mountPath: /app/logs/nginx
        serverBlock: |
          server{
          gzip on;
            gzip_types text/plain text/css application/json application/javascript text/xml application/xml;
            gzip_comp_level 5;
            server_tokens off;
            listen 8080;
            server_name _;

            # location / {
              
            # }
            location ~* \.(jpg|jpeg|png|gif|css|js|ico|woff|woff2|ttf|svg|eot)$ {
              expires 30d;
              access_log off;
              add_header Cache-Control "public, max-age=2592000";
            }
            location /healthz {
              access_log off;
              return 200 'OK';
            }
            location /test {
              # access_log off;
              return 404 'Not Found';
            }
            error_log /app/logs/nginx/error.log;
            access_log /app/logs/nginx/access.log main buffer=32k flush=5s;
          }
        service:
          type: LoadBalancer
        extraEnvVars:
          - name: LOG_LEVEL
            value: debug
        readinessProbe:
          enabled: true
          path: /healthz
          initialDelaySeconds: 5
          periodSeconds: 5
        livenessProbe:
          enabled: false
        customLivenessProbe:
          httpGet:
            path: /healthz 
            port: 8080
  destination:
    server: "https://kubernetes.default.svc"
    namespace: nginx
