apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: nginx-logging
  annotations:
    argocd.argoproj.io/sync-wave: "1"
  namespace: argocd
spec:
  project: default
  syncPolicy:
    automated:
      enabled: true
  source:
    chart: nginx
    repoURL: https://charts.bitnami.com/bitnami
    targetRevision: 22.3.2
    helm:
      releaseName: nginx-log-test
      values: |+
        replicaCount: 3
        serverBlock: |
          server{
            listen 8080;
            server_name ;
            location / {
              return 200 'Hello from nginx';
            }
          }
        service:
          type: ClusterIP
          
  destination:
    server: "https://kubernetes.default.svc"
    namespace: nginx
